includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: 5

    ignoreErrors:
        # Ignore dynamic method calls on facades
        -
            message: '#Call to an undefined method Illuminate\\.*#'
            reportUnmatched: false
        # Ignore missing iterable value type hints
        -
            identifier: missingType.iterableValue
            reportUnmatched: false

    excludePaths:
        - app/Console/Kernel.php
