includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - Modules

    level: 5

    ignoreErrors:
        # Ignore dynamic method calls on facades
        -
            message: '#Call to an undefined method Illuminate\\.*#'
            reportUnmatched: false
        # Ignore missing iterable value type hints
        -
            identifier: missingType.iterableValue
            reportUnmatched: false
        # Ignore dynamic (magic __call) methods on Faker\Generator
        -
            message: '#Call to an undefined method Faker\\Generator::.*#'
            reportUnmatched: false

    excludePaths:
        - app/Console/Kernel.php
        - Modules/Backup/tests/Unit/BackupServiceTest.php
